/*  Main layout */

html, body {
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: 'Lato', 'Arial', 'san-serif';
}

.tweets {
    display: inline-block;
    margin: 0px 0px 5px 8px;
    padding-top: 7px;
    border-bottom: 1px solid black;
    background-color: beige;
}

.right-col {
    display: inline-block;
    float:right;
    height: 80%;
    /*margin: 0px 5px 5px 0px;
    padding: 7px 0px 7px 7px;*/
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.following {
    height: 80%;
    background-color: red;
    border-bottom: 1px solid black;
}

.update {
  height: 20%;
  background-color: antiquewhite;
}


/*  General functional styles   */

button {
    border-radius: 5px;
    font-size: 150%;
}

.update-btn {
    width: 70%;
    height: 40%;
    margin-left: 15%;
    margin-top: 18%;
}