/*  Main layout */

html, body {
    height: 100%;
    max-width: 1400px;
    background-color: #afafaf;
    font-size: 20px;
    font-family: 'Lato', 'Arial', 'san-serif';
}

.tweets {
    display: inline-block;
    vertical-align: top;
    height: 74%;
    margin-top: 20px;
    margin-left: 15.3%;
    border-top: 4px solid skyblue;
    border-right: 4px solid skyblue;
    border-bottom: 4px solid skyblue;
    border-left: 4px solid skyblue;
    overflow-y: auto;
    overflow-x: auto;
    line-height: 150%;
    background-color: #f2f2f2;
}

.right-col {
    display: inline-block;
    vertical-align: top;
    height: 74%;
    margin-top: 20px;
    border-top: 4px solid skyblue;
    border-right: 4px solid skyblue;
    border-bottom: 4px solid skyblue;
    border-left: 4px solid skyblue;
    background-color: #f2f2f2;
}

.right-col h3{
    text-align: center;
}

.following {
    height: 79%;
    border-bottom: 4px solid skyblue;
}

.update {
  height: 20%;
  position: absolute;
}

.post {
    display: inline-block;
    width: 65.4%;
    vertical-align: bottom;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15.3%;
    border: 4px solid skyblue;
    height: 10%;
    background-color: #f2f2f2;
}

ul {
    list-style: none;
}

/*  General functional styles   */

button {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    font-size: 150%;
    background-color: skyblue;
    border: 1px solid skyblue;
}

.update-btn {
    position: relative;
    width: 125%;
    height: 40%;
    margin-top: 15%;
    margin-left: 37%
}

.twit-btn {
    width: 12%;
    margin: 1.9% 6%;
}

.visitor-name {
    width: 18%;
    margin: 0 5%;
}

.post-message {
    width: 45%;
}

.timestamp {
    font-size: 75%;
    font-style: italic;
    color: rgb(168, 168, 168);
}

.tweet {
    padding: 0px 15px;
}

.tweeter {
    font: 175%;
    padding: 10px 0px;
    color: skyblue;
    text-decoration: underline;
    cursor: pointer;
}

/*  for hiding/showing of specific tweets  */

.filtering {
}